* { 
    /*arranges the boxes neatly with thre one of top of another and one sidebar*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    /*this gives the header some padding making the header box thicker*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

body {
    /*sets background color*/
    background-color: #d9dcd6;
}

.header h1 {
    /*allows header to have multiple text boxes in a single block*/
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    /*padding on top for separation from the botto of the header box to the header text*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    /*clears any preformatted list-style-type*/
    list-style-type: none;
}

.header div ul li {
    /*allows the list items/buttons to be side by side in the same block*/
    display: inline-block;
    margin-left: 25px;
}

a { /*gives the buttons a color and no text-decoration*/
    color: #ffffff;
    text-decoration: none;
}

p { /*paragraphs have the font size of 16 pixels*/
    font-size: 16px;
}

.hero {
    /*positions image 25 pixels away from the bottom and is centered*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left { /*gives properties for float-left classes*/
    float: left;
    margin-right: 25px;
}

.float-right { /*gives properties for float-right classes*/
    float: right;
    margin-left: 25px;
}

.content { /*company assets, main content on the left 75% of the page*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

#search-engine-optimization { 
    /*formatting and positioning for the box 'search-engine-optimization*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


.online-reputation-management {
    /*formatting and positioning for the box 'online-reputation-management'*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    /*formatting and positioning for the box 'social-media-marketing*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


#search-engine-optimization h2 {
    /*gives spacing on the bottom of the header and it gives it a font size*/
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    /*gives spacing on the bottom of the header and it gives it a font size*/
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    /*gives spacing on the bottom of the header and it gives it a font size*/
    margin-bottom: 20px;
    font-size: 36px;
}
#search-engine-optimization img { 
    /*sizes the image in the class'search-engine-optimization'*/
    max-height: 200px;
}

.online-reputation-management img {
    /*sizes the image in the class'online-reputation-management'*/
    max-height: 200px;
}

.social-media-marketing img {
    /*sizes the image in the class 'social-media-marketing'*/
    max-height: 200px;
}

.benefits { /*business benefits, benefits from consumption, right 25% of the page*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead { /*box-bottom box separation 32px*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand { /*box-bottom box separation 32px*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {/*box-bottom separation 32px*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 { /*positions title*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 { /*positions title*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 { /*positions title*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img { /*positions image*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img { /*positions image*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img { /*positions image*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer { /*formts and positions the footer 3px away from all the content*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
